.text-container {
    padding: 14px 40px;
}

.text-container h2, button {
    margin-top: 16px;
}

.image-container {
    float: right;
}

.image-container #vector {
    z-index: -999;
    top: 0;
    right: 0;
    position: absolute;
}

.image-container #felipe {
    right: 0vw;
    position: absolute;
    top: 11vw;
}