@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Roboto:400,500&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition: 0.4s;
  max-width: 100%;
}

body {
  font: 400 14px Roboto, sans-serif;
  background: #333333;
  display: flex;
  -webkit-font-smoothing: antialiased;
}

button {
  width: 175px;
  height: 50px;
  background: #daa520;
  border-radius: 4px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  border: none;
}

h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 98px;
  color: #ffffff;
}

h2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  color: #ffffff;
}

h3 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.25em;
  color: #fff;
}
