.header {
  overflow: hidden;
  width: 100vw;
  /* display: flex; */
}

.header a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}
.header img:hover {
  padding-left: 10px;
}

.header-right {
  margin-top: 21px;
  padding-right: 70px;
  float: right;
}

.logo-text {
  float: left;
  padding: 35px 16px;
}
