@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  background: #000 url("./assets/background.jpg") no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}

body,
input,
button,
textarea {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

a, i {
  text-decoration: none;
  color: #fff;
}

.container {
  margin: 80px auto 0;
  max-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  background: #3a3a3a;
  margin-top: 50px;
  border-radius: 4px;
  padding: 30px;
}

.content > p {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 30px;
}

.content form {
  display: flex;
  flex-direction: column;
}

.content form label {
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 8px;
}

.content form label span {
  font-weight: normal;
  color: #fff;
  font-size: 12px;
}

.content form input {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
}
.content form textarea {
  margin-bottom: 20px;
  border: 2px solid #ddd;
  border-radius: 2px;
  height: 200px;
  padding: 0 15px;
  font-size: 16px;
  resize: none;
}

.content button.btn {
  border: 0;
  border-radius: 2px;
  width: 100%;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  background: #f05a5b;
  color: #fff;
  cursor: pointer;
}

.content button.btn:hover {
  background: #e14f50;
}

.content a {
  text-decoration: none;
  color: #f05a5b;
}

.logo {
  width: 20vw;
  height: 15vh;
}

@media (max-width: 600px) {
  .container {
    margin: 80px auto 0;
    max-width: 650px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    background: #fff;
    margin-top: 50px;
    border-radius: 4px;
    padding: 30px;
  }
}
